<%= form_with(model: [@test, @question]) do |form| %>
  
  <%= render 'shared/errors', resource: @question %>
  <p>
    <%= form.label :Body %><br>
    <%= form.text_field :body, value: @question.body %>
  </p><br>

  <p><%= form.submit %></p>

  <%= link_to 'Back', test_questions_path(@question.test) %>
<% end %>